* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  //   color: white;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  // margin-top: 43px;
}
