.footer {
  max-width: 1280px;
  height: 120px;
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 47px 85px;
  background: #2c343e;

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 103px;
    margin-right: 369px;
  }

  &__item a {
    font-family: "Barlow-Medium";

    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
  }

  &__item a:hover {
    color: white;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
